.treeDiv {
    margin-left: 5em;
}

.state-none {
    background: #c77;
}
.state-single {
    background: #cc7;
}
.state-domain {
    background: #7c7;
}

.jumbotron {
    text-align: center;
}

.version {
    display: inline-block;
    float: right;
}

.versionChunk-middle::after {
    content: ".";
}

.versionChunk {
    display: inline-block;
}

.versionChunk-0 {
    font-size: 1.4em;
}

.versionChunk-1 {
    font-size: 1.3em;
}

.versionChunk-2 {
    font-size: 1.2em;
}

.versionChunk-3 {
    font-size: 1.1em;
}